asgiref @ file:///home/task_177184281161208/croot/asgiref_1771842846079/work
attrs==26.1.0
black==26.5.1
certifi==2026.6.17
cfgv==3.5.0
charset-normalizer==3.4.7
click==8.4.2
cloudinary==1.45.0
distlib==0.4.3
Django @ file:///home/task_176432920734718/conda-bld/django_1764329221349/work
django-autoslug==1.9.9
django-cloudinary-storage==0.3.0
django-cors-headers==4.9.0
django-countries==9.0.0
django-environ==0.14.0
django-filter==25.2
django-phonenumber-field==8.4.0
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.29.0
filelock==3.29.5
flake8==7.3.0
gunicorn==26.0.0
identify==2.6.19
idna==3.18
inflection==0.5.1
isort==8.0.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
mccabe==0.7.0
mypy_extensions==1.1.0
nodeenv==1.10.0
packaging==26.0
pathspec==1.1.1
phonenumbers==9.0.34
pillow==12.3.0
platformdirs==4.10.0
pre_commit==4.6.0
psycopg==3.3.4
psycopg-binary==3.3.4
psycopg2-binary==2.9.12
pycodestyle==2.14.0
pyflakes==3.4.0
PyJWT==2.13.0
python-discovery==1.4.3
python-dotenv==1.2.2
pytokens==0.4.1
PyYAML==6.0.3
referencing==0.37.0
requests==2.34.2
rpds-py==2026.6.3
sentry-sdk==2.64.0
six==1.17.0
sqlparse @ file:///home/task_178117660207179/croot/sqlparse_1781176696965/work
typing_extensions==4.16.0
uritemplate==4.2.0
urllib3==2.7.0
virtualenv==21.5.1
whitenoise==6.12.0
